<%- include("../partials/header", {title: title, path: path}); %>

<h1>Logg händelser</h1>

<form method="post">
    <fieldset>
        <legend>Filtrera händelserna</legend>

        <label for="search">Sökfilter</label>
        <br>
        <input id="search" type="text" name="search" maxlength="150" required>
        <input type="submit" name="skapaProdukt" value="Filtrera">
    </fieldset>
</form>
<br>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Tidsstämpel</th>
            <th>Händelse</th>
        </tr>
    </thead>
    <tbody>
    <% for (const row of res) {
        var date = new Date(row.tidsstampel);
        date.setHours(date.getHours() + 1);
        var timestamp = date.toISOString().slice(0, 10) + ' ' + date.toISOString().slice(11, 19);
    %>
        <tr>
            <td class="right"><%= row.logg_id %></td>
            <td class="left"><%= timestamp %></td>
            <td><%= row.handelse %></td>
        </tr>
    <% }; %>
    </tbody>
</table>

<%- include("../partials/footer"); %>
