<%- include("../../partials/header", {title: title, path: path}); %>

<h1>Uppdatera en ny produktkategori</h1>

<form method="post" action="/eshop/update_category">
    <fieldset>
        <legend>Uppdatera kategori</legend>


        <input id="id" type="text" name="id" value="<%= res.produkt_id %>" hidden>

        <label for="namn">Namn</label><br>
        <input id="namn" type="text" name="namn" maxlength="150" value="<%= res.produktnamn %>" required>
        <br>

        <label for="beskrivning">Beskrivning</label>
        <textarea id="beskrivning" name="beskrivning" rows="4" maxlength="300"><%= res.beskrivning %></textarea>
        <br>

        <label for="bildlank">Produktens bildlänk</label><br>
        <input id="bildlank" type="text" name="bildlank" maxlength="200" value="<%= res.produktbild_lank %>">
        <br>

        <label for="pris">Pris (kr)</label><br>
        <input id="pris" type="number" name="pris" min="0" step=".01" value="<%= res.pris %>" required>

        <br>
        <input type="submit" name="uppdateraProdukt" value="Uppdatera">
    </fieldset>
</form>

<%- include("../../partials/footer"); %>
