<%- include("../partials/header", {title: title, path: path}); %>

<h1>Kunder</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Namn</th>
            <th>Fakturaadress</th>
            <th>Telefon</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% for (const row of res) { %>
        <tr>
            <td class="right"><%= row.kund_id %></td>
            <td><a href="show_customer/<%= row.kund_id %>" title="Visa all info om kunden"><%= row.fornamn + " " + row.efternamn %></a></td>
            <td><%= row.fakturaadress %></td>
            <td class="right"><%= row.telefon %></td>
            <td class="right button"><a href="create_order/<%= row.kund_id %>" title="Skapa en ny order för kunden">Skapa order</a></td>
        </tr>
    <% }; %>
    </tbody>
</table>

<%- include("../partials/footer"); %>
